# .gitignore for gen-dsp

*.xcodeproj/
.project
.cproject
*.o
.DS_Store
*.d
build
config.h
config.status
config.log
stamp-h1
autom4te.cache
Makefile
.deps
src/idefix

Makefile.in
aclocal.m4
config.h.in
configure
depcomp
install-sh
missing
src/Makefile.in
